* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
}
html {
  min-height: 100vh;
}

body {
  display: flex;
  min-height: 100vh;
  /* height: 100vh; */
  width: 100%;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to right, #fa92224d, #ff99005d),
    url(https://images.unsplash.com/photo-1441986300917-64674bd600d8?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80);
  background-size: cover;
  background-repeat: no-repeat;
}
.wrapper {
  max-width: 400px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.1);
}
.wrapper .title-text {
  display: flex;
  width: 200%;
}

.wrapper .title-text .title {
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50%;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}
.wrapper .form-container {
  width: 100%;
  overflow: hidden;
}
.form-container .slide-controls {
  display: flex;
  position: relative;
  height: 50px;
  width: 100%;
  overflow: hidden;
  border-radius: 5px;
  justify-content: space-between;
  margin: 30px 0 10px 0;
  border: 1px solid lightgrey;
}
.form-container .form-inner {
  display: flex;
  width: 200%;
}
.slide-controls .silde {
  height: 100%;
  width: 100%;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  font: weight 500px;
  text-align: center;
  line-height: 48px;
  transition: all 0.6s ease;
  cursor: pointer;
}
.slide-controls .silde-tab {
  position: absolute;
  border-radius: 5px;
  height: 100%;
  width: 50%;
  left: 0;
  z-index: 0;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  background: -webkit-linear-gradient(left, rgb(240, 142, 15), #ff9900);
}
.slide-controls .signup {
  color: #000;
}
input[type="radio"] {
  display: none;
}
#signup:checked ~ .silde-tab {
  left: 50%;
}
#signup:checked ~ .signup {
  color: #fff;
}
#signup:checked ~ .login {
  color: #000;
}
.btn {
  cursor: pointer;
}
.form-container .form-inner form {
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  width: 50%;
}
.form-inner form .field {
  height: 50px;
  width: 100%;
  margin-top: 20px;
}

.form-inner form .field input {
  height: 100%;
  width: 100%;
  outline: none;
  padding-left: 15px;
  font-size: 17px;
  border-radius: 5px;
  border: 1px solid lightgrey;
  border-bottom-width: 2px;
  transition: all 0.5s linear;
}
.form-inner form .field input:focus {
  border-color: rgb(240, 142, 15);
}
.form-inner form .pass-link {
  margin-top: 5px;
}
.form-inner form .pass-link a,
.form-inner form .signup-link a {
  color: rgb(240, 142, 15);
  text-decoration: none;
}
.form-inner form .signup-link {
  text-align: center;
  margin-top: 30px;
}
.form-inner form .pass-link a:hover,
.form-inner form .signup-link a:hover {
  text-decoration: underline;
}
.form-inner form input[type="submit"] {
  color: #fff;
  font-size: 20px !important;
  font-weight: 500;
  padding-left: 0;
  border: none;
  background: -webkit-linear-gradient(left, rgb(240, 142, 15), #ff9900);
}

@media only screen and (max-width: 700px) {
  .wrapper {
    max-width: 80vw;
  }
  .wrapper .title-text {
    width: 225%;
  }
}
